// Settings
@import 'settings/settings';

// Base
@import 'base/reset';
@import 'base/base';

// Utils
@import 'utils/type-scale';
@import 'utils/type';

// Components
@import 'components/container';
@import 'components/social';
@import 'components/portrait';

.title { margin-bottom: 1.5rem }
.sub-title { margin-bottom: 1rem }

h5 {
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 0.5rem;
}